<div class="app-title">
    <div>
        <h1><i class="fa fa-users"></i>&nbsp;{{current_page}}</h1>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">
            <a href="#"><i class="fa fa-home fa-lg"></i></a>
        </li>
        <li class="breadcrumb-item">
            <a href={{path(path)}}>{{previous_page}}</a>
        </li>
        <li class="breadcrumb-item">{{current_page}}</li>
    </ul>
</div>